@page "/"

<h1>Welcome to Ithari International College</h1>

<img src="images/college.jpg"
     alt="College Photo"
     style="width:350px; border-radius:12px; margin-top:10px;" />

<p style="margin-top:15px;">
    Ithari International College is dedicated to empowering students through
    quality education, hands-on learning, and a supportive academic environment.
</p>
